li a{
  font-family: Arial !important;
}
.price2 {
    background-color: #3B5998;
    width: 95%;
    border-style: solid;
    margin-left: 8px;
    height: 39px;
    margin-top: 46px;
    border-radius: 7px;
}
.price2:hover {
    opacity: 0.5;
}
.price {
    padding: 1px 0 0 0;
}
.socail{
    padding: 1px 0 0 0;
    margin-left: 16px;
    margin-top: -23px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 148px;
}
@media screen and (min-width: 992px){
  .col-md-3 {
    width: 21%;
  }
  .col-md-2 {
    width: 94.666667%;
  }
  /*.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: right;
    margin-right: 
  }*/
}
span.actual1 {
    text-decoration: line-through;
    color:#000;
}
.total_p{
	color:#000;
	font-size: bold;
}
.displayborder {
    width: 33%;
    height: 363px;
    float: left;
    margin: 1px;
    background-color: #fff;
}
.displayborder:hover{
    border: 1px solid #fff;
}
.displayborder img {
    margin-bottom: 14px;
    padding: 12px;
    margin-left: 0px;
    margin-top: 4px;
}
.displayborder img {
    margin-top: -12px;
}
.footer-middle{
    margin-top:-15px;
}
.col-lg-10 {
    width: 83.33333333%;
    margin-bottom: 30px;
}
.hotline{
    margin-top: 15px;
}
.loginheader{
    float: right;
}
.loginheader li a:hover{
  color: #000 !important;
  font-family: Arial !important;
}
.header-top{
    background-color: #00ADC9;
    position: fixed;
    z-index: 10;
    margin-left: -138px;
    height: 54px;
}
img.logocim {
    width: 5%;
    height: 100%;
    margin-top: 0%;
    margin-left: 11%;
}
.icon{
    width: 29%;
}
.menu-trigger{
  display: none;
  margin-top: 11%;
}
@media screen and (max-width:1366px){
  .wrap{
      width:80%;
  }
}
@media screen and (max-width: 1024px){
  img.logocim {
    width: 6%;
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
  }
  .navbar-form {
    margin-top: -49px;
    margin-left: 54%;
  }
  .header-top {
    background-color: #00ADC9;
    position: fixed;
    z-index: 10;
    margin-left: -103px;
    height: 56px;
  }
}
@media screen and (max-width: 768px){
  .header-top {
    background-color: #00ADC9;
    position: fixed;
    z-index: 10;
    margin-left: -77px;
    height: 54px;
  }
  .list-inline>li {
    display: inline-block;
    padding-right: 43px;
  }
   .menu-trigger{
    display: block;
    font-weight:bold;
    color:#305782;
    text-align:right;
    font-size:83%;
    cursor:pointer;
    margin-top: 10%;
  }
  .navbar-form {
    margin-top: -60px;
    margin-left: 25%;
  }
}
@media screen and (max-width: 414px){
  img.logocim {
    width: 10%;
    height: 77%;
    margin-top: 2%;
    margin-left: 7%;
  }
  .menu-trigger{
    display: block;
    font-weight:bold;
    color:#305782;
    text-align:right;
    font-size:83%;
    cursor:pointer;
    margin-top: 10%;
  }
  .navbar-form {
    margin-top: -60px;
    margin-left: 25%;
  }
}
/*search*/
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}
.col-sm-6{
    margin-left: -5%;
    margin-top: -50px;
}
@media screen and (max-width: 375px){
  img.logocim {
    width: 12%;
    height: 100%;
    margin-top: 0%;
    margin-left: 8%;
  }
  .list-inline>li {
    display: inline-block;
    padding-right: 87px;
  }
  .menu-trigger{
    display: block;
    font-weight:bold;
    color:#305782;
    text-align:right;
    font-size:83%;
    cursor:pointer;
    margin-top: 12%;
  }
}
@media screen and (max-width: 360px){
  .menu-trigger{
    display: block;
    font-weight:bold;
    color:#305782;
    text-align:right;
    font-size:83%;
    cursor:pointer;
  }
 .header-top {
    background-color: #00ADC9;
    position: fixed;
    z-index: 10;
    margin-left: -36px;
    height: 54px;
  }
  img.logocim {
    width: 6%;
    height: 50%;
    margin-top: 3%;
    margin-left: -2%;
  }
  div a, li a, div option, ul li a, input.textbox, .selected, h1, h2, h3, h4, h5, p, li span {
    /* font-family: 'Khmer os freehand', 'Bodoni MT' !important; */
    font-family: "Bodoni MT";
    font-size: 10px;
  }
  .list-inline>li {
    display: inline-block;
    padding-right: 151px;
  }
  .overlay{
    width: 89% !important;
  }
  div.menu ul li {
    float:none;
    border-bottom: 2px solid #eee;
  }
  div.menu ul li:last-child{
    border-bottom: none;
  }
  div.menu{
    display: none;
  }
  .navbar-form{
    width: 170px;
  }
  .input-group .form-control{
    height: 21px;
    margin-top: 9px;
  }
  .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    height: 21px;
    margin-top: 9px;
    width: 0px;
  }
}
@media screen and (max-width: 320px){
  .list-inline>li {
    display: inline-block;
    padding-right: 0px;
  }
  .header-top {
    background-color: #00ADC9;
    position: fixed;
    z-index: 10;
    margin-left: -32px;
    height: 36px;
  }
  .menu-trigger{
    display: block;
    font-weight:bold;
    color:#305782;
    text-align:right;
    font-size:83%;
    cursor:pointer;
    margin-top: 7%;
  }
}
.navbar-form{
  margin-top: -49px;
  margin-left: 6%;
}
input .navbar-form{
  height: 37px;
  width: 314px;
  font-size: 20px;
}
.btn-default{
  height:34px;
  background: #00ADC9;
  color:#fff;
  margin-top:0px;
}
body{
    background-color: #fff;
}
.footer{
    background-color: #fff;
}
.modeproduct {
    height: 100%;
    background-repeat: no-repeat;
    transition: background .25s ease-in-out;
    min-height: 662px;
}
.titlepro{
    font-size: 18px;
    font-family: 'MarkPro',sans-serif;
    color:#00a5ff;
}
.footer{
    background-color: #fff;
}
.skyblue li>a, .skyblue>li.showhide span {
    color: #000;
    font-family: arial;
    border-right: 1px solid #ccc;
    font-size: 15px;
    font-weight: bold
}
element.style {
    color: #fff;
    font-size: 18px;
    margin-left: 91px;
    font-family: arial;
}
.jssora13l, .jssora13r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 50px;
    cursor: pointer;
    background: url('resources/images/a13.png') no-repeat;
    overflow: hidden;
}
.jssora13l { background-position: -10px -35px; }
.jssora13r { background-position: -70px -35px; }
.jssora13l:hover { background-position: -130px -35px; }
.jssora13r:hover { background-position: -190px -35px; }
.jssora13l.jssora13ldn { background-position: -250px -35px; }
.jssora13r.jssora13rdn { background-position: -310px -35px; }
.jssora13l.jssora13lds { background-position: -10px -35px; opacity: .3; pointer-events: none; }
.jssora13r.jssora13rds { background-position: -70px -35px; opacity: .3; pointer-events: none; }
.row {
    margin-right: -15px;
    margin-left: 169px;
}
h1{
    font-size: 20px;
    font-family: sans-serif;
}
.promote {
    width: 1075px;
    height: 41px;
    background-color: #3B5998;
}
/*text center of ruler*/
/*.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > h1 {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.strike > h1:before,
.strike > h1:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #333;
}

.strike > h1:before {
    right: 100%;
    margin-right: 15px;
}

.strike > h1:after {
    left: 100%;
    margin-left: 15px;
}*/
/*.clear{
    height: 20px;
    clear: both;
}*/
/*fa icon*/
.fa {
    padding: 9px;
    font-size: 15px;
    width: 27px;
    text-decoration: none;
    margin: -9px 11px -9px -9px;
    height: 31px;
    border-radius: 3px;
}
.fa-facebook {
  background: #3B5998;
  color: #fff;
}
.fa-google {
  background: #dd4b39;
  color: #fff;
}
.fa-phone {
  background: #ccccff;
  color: #0000cc;
}
.fa-map-marker{
    background: #333;
    color:#ff1a1a;
}
.tooltip.bottom .tooltip-inner {
    background-color:#3B5998;
    font-size: 15px;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color:#3B5998;
    font-size: 15px;
}
.socail{
    text-align: center;
}
ul.submenu li a {
    font-family: arial;
    font-size: 1.2em;
    font-size: 14px;
}
.caption {
    position: absolute;
    top: 65%;
    left: 10%;
}
.image {
  opacity: 1;
  width: 100%;
  height: auto;
  transition: .5s ease;
  
}
.col-md-4:hover .image {
  opacity: 0.3;
}
/*text hover images*/
.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border:5px sold block;
}
.images {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 54px;
  opacity: 0;
  transition: .5s ease;
  background-color: hsl(188.4, 100%, 39.4%);
  border: 1px solid lightgray;
  margin-top: 247px;
  width: 322px;
  margin-left: 16px;
}

.col-md-4:hover .overlay {
  opacity: 0.9;
}
/*end*/
.menu{
  text-align: center;
}
/*detial*/
.m_5{
  font-family: arial;
}
p.m_5 {
    font-size: 17px;
}
.m_3{
  font-family: arial;
  font-weight: bold;
}
/*header style*/
div.headerStyle {
    margin-top: 24px;
    height: 3px;
}
/*car detial*/
h4.title{
  line-height:2.2;
  font-family: arial;
}
.wrap{
  font-family: arial;
}
.register_account form select {
  width: 91%;
}
/*menu*/
.dropdown1:hover .dropbtn{
  background:#00ADC9;
}
.skyblue li>a, .skyblue>li.showhide span{
  color:#00ADC9;
}
.megamenu>li.active>a {
  color: #00ACD9;
}a.dropbtn.active{
  background-color: #00ADC9;
  color:#fff;
}
/*ruler*/
hr {
    margin-top: 50px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
